<sw-page class="ticket-manager-detail">

    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'ticket.manager.list' }">
            {{ $t('ticket-manager.detail.cancelButtonText') }}
        </sw-button>
        <sw-button-process
                v-if="ticket.status == 1"
                variant="danger"
                :isLoading="isLoading"
                :processSuccess="closeTicketProcessSuccess"
                @process-finish="closeTicketFinish"
                @click="closeTicket">
            {{ $t('ticket-manager.detail.closeTicketLabel') }}
        </sw-button-process>
    </template>

    <template slot="content">
        <sw-card-view v-if="ticket">

            <sw-card title="Ticket">
                <h2>{{ $t('ticket-manager.detail.customerLabel') }}</h2>
                <sw-card>
                    {{ ticket.customer.firstName }} {{ ticket.customer.lastName }}
                </sw-card>

                <h2>{{ $t('ticket-manager.detail.statusLabel') }}</h2>
                <sw-card v-if="ticket.status == 1">
                    <strong style="color: green;">OPEN</strong>
                </sw-card>

                <sw-card v-else>
                    <strong style="color: red;">CLOSED</strong>
                </sw-card>

                <h2>{{ $t('ticket-manager.detail.subjectLabel') }}</h2>
                <sw-card>{{ ticket.subject }}</sw-card>

                <h2>{{ $t('ticket-manager.detail.contentLabel') }}</h2>
                <sw-card style="overflow: auto; word-wrap: anywhere">
                    {{ ticket.content }}
                </sw-card>
            </sw-card>

            <sw-card title="Replies" :isLoading="false" v-if="ticket.replies.length !== 0"
                     listRoute="ticket.manager.list" >
                {% block ticket_manager_list_content %}

                    <sw-card :hero="false" :isLoading="false" :large="false"
                             :showSelection="false" v-for="reply in ticket.replies">

                        <div v-if="reply.adminId == null">
                            <sw-avatar color="#00c5dd"
                                       size="32px"
                                       firstName="ticket.customer.firstName"
                                       style="margin-bottom: 20px;"
                                       lastName="ticket.customer.lastName">
                            </sw-avatar>
                            <h2>{{ ticket.customer.firstName }} {{ ticket.customer.lastName }}</h2>
                            <br>
                            <p>{{ reply.content }}</p>
                        </div>

                        <div v-else>
                            <sw-avatar color="#dd0013"
                                       size="32px"
                                       firstName="A"
                                       style="margin-bottom: 20px;">
                            </sw-avatar>
                            <h2>Admin</h2>
                            <br>
                            <p>{{ reply.content }}</p>
                        </div>
                    </sw-card>

                {% endblock %}
            </sw-card>

            <sw-card title="Reply" :isLoading="false" v-if="ticket.status == 1">
                <sw-textarea-field type="textarea" placeholder="Content" v-model="newReply.content"></sw-textarea-field>

                <sw-button-process
                        size="large"
                        variant="primary"
                        :block="true"
                        :isLoading="isLoading"
                        :processSuccess="createReplyProcessSuccess"
                        @process-finish="createReplyFinish"
                        @click="saveReply">
                    {{ $t('ticket-manager.detail.postReplyLabel') }}
                </sw-button-process>

            </sw-card>
        </sw-card-view>


    </template>
</sw-page>